*{
	font-family: Comic Sans MS;
	padding: 0;
	margin: 0;
}


body:hover{
	cursor: default;
}

h1{
	color: #1F618D;
	margin-left: 20%;
}

#container{
	margin: auto;
	display: inline-block;
}

table{
	border-collapse: collapse;
	margin: 10px;
}

table *{
	border: 1px solid grey;
}

table input{
	padding: 0px;